/.idea/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/.terraform.tfstate.lock.info
/terraform/terraform.tfstate
/sqs/node_modules/
/serverless/lambda/node_modules/
/serverless/lambda/.serverless/
/serverless/lambda/volume/
